@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
  background-image: url("../public/images/bgImage1.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
